{% extends 'base.html.twig' %}

{% block title %}Hello DivisionController!{% endblock %}

{% block body %}

<script>
    $('#id1').click(function(){
	    $('#hiddenForm').show();  
        $('#id1').hide();         
	});
</script>

<style>

    a{
        text-decoration: none;
    }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .rightPart{

    }

    .avatar{
        width:40px;
        height:40px;

        border: 2px solid #dddddd;
        border-radius:50%;

        position:relative;
        z-index:200;

    }

    .menublock{
        position:relative; 
        display: inline-block;
        float: right;
    }

    .hiddenBlock {
        font-size: 18px;
        display: none;
        position: absolute;
        background-color: #cccccc;
        padding:10px;
        min-width:300px;
        min-height: 400px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        top:-7px;
        left:-250px;
        z-index: 100;
    }

    .avatar:hover{
        background-color:black;

    }

    .menublock:hover .hiddenBlock {display: block;}


    .menuPart:hover{
        background-color:white;
        border-radius:10px;

    }

    .mainPart{
        width:100wh;
        min-height:80vh;
        background-color:#eeeeee;
    }

    .division{
        width:60%;
        min-height: 100px;
        margin:0 auto;
        padding:10px;
        background-color:#aaaaaa;
        color:white;

        border: 2px solid #dddddd;
        border-radius:10px;

        position:relative;
    }

    .delBut{
        height:50px;
        width:50px;
        position:absolute;
        top:30%;
        right:21.5%;
    }

</style>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{{ asset('Files/Icons/home.svg') }}" alt="Home">
        </a>

        <!--ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul-->

        {% if isAunt == null%}
            <div class="col-md-3 text-end">
            <button onclick= "document.location='{{ path('login') }}'" type="button" class="btn btn-outline-primary me-2">Login</button>
            <button onclick= "document.location='{{ path('register') }}'" type="button" class="btn btn-primary">Sign-up</button>
            </div>
        {% else %}
            <div style = "display:row; min-width:230px;">
                <!--button onclick = "document.location='{{ path('app_logout') }}'"  type="button" class="btn btn-primary"}}'">Выход</button>
                <div class = "avatar" style = "float: right;"></div-->

                <div class = "menublock">
                    <div class = "avatar"></div>
                    <div class = "hiddenBlock"> 
                        <div style = "height:40px; margin: 10px 20px;">{{user.username}}</div>
                        <div style = "min-height:310px; width:90%; margin: 0 auto; background-color:#999999; border-radius:10px; padding:10px; display:column;">
                            <a style = "width:100%; min-height:40px; display: block; text-decoration:none; padding:5px;" class = "menuPart">Сообщения</a>
                            <a style = "width:100%; min-height:40px; display: block; text-decoration:none; padding:5px;" class = "menuPart">Друзья</a>
                            <a href = "/logout" style = "width:100%; min-height:40px; display: block; text-decoration:none; padding:5px;" class = "menuPart">Выйти из аккаунта</a>
                        </div>
                    </div>
                </div>


            </div>
        {% endif %}
    </header>
</div>
<div class = "mainPart">

    <div style = "height:5px;"></div>
    <div onclick = "document.location='{{ path('division_create') }}'" class = "division" style = "background-color:#0d6efd; color:white; cursor: pointer;" id = "id1">
        <h1>Создайте свой раздел!</h1>
    </div>

    {% for div in divArray %}
        <div style = "height:5px;"></div>
        {% if div.id != 17 %}
            <div style = "position:relative;">
                <a href = "/division/{{div.id}}" style = "text-decoration: none">
                    <div class = "division">
                        <h1>{{ div.name }}</h1>
                        <p style = "margin-left:85%">Статей: {{div.articleCount}}</p>

                    </div>
                </a>
                {% if div.id != 13 %}
                    <a href = "/division/delete/{{ div.id }}" class = "delBut" style = "text-decoration: none">
                        <img src="{{ asset('Files/Icons/trash.svg') }}" alt="delete division"  style = "width:40px;height:40px;margin:5px;">
                    </a>

                    {% if isAdmin != null %}

                        <a href = "/division/edit/{{ div.id }}" class = "delBut" style = "text-decoration: none; left:22%; margin-top:20px;">
                            <img src="{{ asset('Files/Icons/edit.svg') }}" alt="edit"  style = "width:40px;height:40px;margin:5px;">
                        </a>

                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            {% if isAdmin != null %}
                <div style = "position:relative;">
                    <a href = "/division/{{div.id}}" style = "text-decoration: none">
                        <div class = "division" style = " background-color:#020202;">
                            <h1>{{ div.name }}</h1>
                            <p style = "margin-left:85%">Статей: {{div.articleCount}}</p>

                        </div>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
